<html>
<head>
    <title>Thomas Annam Project One</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="static/images/NJIT.png" width="100" height="50" class="rounded" alt="...">
                    IS601 Project One
                </a>
                <div class="navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-8">
            <p class="h3">GitHub</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <p class="fw-normal"><strong>GitHub</strong> is a platform that allows developers to host/collaborate their
                codebase on
                the Web.
                One of the main features GitHub provides is version control, which keeps track of all the changes, a
                developer has made within a
                codebase. This can be shown via commits, issues, tags, or pull requests.
            </p>
        </div>
        <div class="col">
            <img src="static/images/Github.jpeg" width="300" height="300" class="rounded float-end" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">GitHub Tools</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <p class="fw-normal">
                GitHub provides many services
                to developers, some of which include:
            <ul class="px-5">
                <li>GitHub CLI</li>
                <li>GitHub Actions</li>
                <li>GitHub Desktop</li>
                <li>Git Bash (For Windows)</li>
            </ul>
            </p>
        </div>
        <div class="col">
            <img src="static/images/GithubCLI.png" width="200" height="200" class="rounded float-end" alt="...">
            <img src="static/images/GithubActions.png" width="200" height="200" class="rounded float-end" alt="...">
        </div>
        <div class="col">
            <img src="static/images/GithubDesktop.png" width="200" height="200" class="rounded float-end" alt="...">
            <img src="static/images/GitBash.png" width="200" height="200" class="rounded float-end" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h3">GitHub Commands</p>
            <hr class="bg-danger border-2 border-top border-danger" style="height:2px; width:50%; border-width:0">
            <dl>
                <dt class="col-sm-3">Repository</dt>
                <dd class="col-sm-9 p-2">
                    A repository in GitHub is essentially a directory where you host all your team's folders and files
                    for
                    the codebase. To initialize a GitHub repository, this can be done via the GitHub UI, and then can be
                    cloned locally
                    or simply via <strong>git init</strong>, which will mark the current directory as a GitHub
                    repository.
                </dd>
                <dt class="col-sm-3">Commit</dt>
                <dd class="col-sm-9 p-2">
                    A GitHub commit refers to a set of changes made to a given codebase at any point in time.
                    Once a commit is made to GitHub, each commit will have a message and a unique git commit SHA.
                    To make a git commit, one would need to execute the following series of commands:
                    <ul class="px-5">
                        <li><strong>git add .</strong></li>
                        <ul>
                            <li>This will add of your files that are currently "not staged for commit" into your
                                commit.
                            </li>
                        </ul>
                        <li><strong>git commit -m 'commit message'</strong></li>
                        <ul>
                            <li>
                                This will give your Git commit a message before it's pushed into a branch
                            </li>
                        </ul>
                        <li><strong>git push origin branch_name</strong></li>
                        <ul>
                            <li>
                                This will push all your changes with the commit message to the branch_name
                            </li>
                        </ul>
                    </ul>
                </dd>
                <dt class="col-sm-3">Branches</dt>
                <dd class="col-sm-9 p-2">
                    A GitHub branch allows a developer to independently develop new features or fix issues,
                    independently off the main branch or any other branch within a given repository.
                    Most branches in GitHub are branched out of a main branch which include the names such as
                    <em>main</em>, <em>master</em>, or <em>develop</em>. To create a branch, one would need to issue
                    the following command: <strong>git checkout -b branch_name</strong>, this will make a new branch of
                    the base branch if it doesn't already exist.
                </dd>
                <dt class="col-sm-3">Tags</dt>
                <dd class="col-sm-9 p-2">
                    A GitHub tag is reference to a specific point for a repository, which typically marks when you want
                    to release this code into production
                    or package your code as version for a library, such as to maven central repository or PIP.
                </dd>
                <dt class="col-sm-3">Merging</dt>
                <dd class="col-sm-9 p-2">
                    A GitHub merge allows you to take one branch and put it another branch. This is typically done via a
                    Pull Request, which is an official way to say you want to merge your current branch into another
                    branch such as
                    master, and if it has been reviewed by the team
                    of developers.
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>