<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OOP Terminology</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="static/images/NJIT.png" width="100" height="50" class="rounded" alt="...">
                    IS601
                </a>
                <div class="navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">OOP Terminology</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-8">
            <p class="h3">OOP Terminology</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <p class="fw-normal">
                This section will explain all the common terminology associated with OOP, otherwise known
                as Object Orientated Programming. <br/> The first section will discuss classes and objects, and cover
                the following terminology:
            <ul class="px-5">
                <li>Class</li>
                <li>Object</li>
                <li>Instantiation</li>
                <li>Constructor</li>
                <li>Instance Property/Method</li>
                <li>Static Property/Method</li>
            </ul>
            The second section will discuss principles of OOP, and cover the following terminology:
            <ul class="px-5">
                <li>Encapsulation</li>
                <li>Inheritance</li>
                <li>Polymorphism</li>
                <li>Abstraction</li>
            </ul>
            The third section will discuss testing and other miscellaneous concepts, and cover the following
            terminology:
            <ul class="px-5">
                <li>Fixture</li>
                <li>Type hint</li>
                <li>Type cast</li>
                <li>Unit test</li>
            </ul>
            The fourth and fifth section will discuss an Overview of Design Patterns/Solid.
            </p>
        </div>
        <div class="col">
            <img src="static/images/Glossary.png" width="400" height="400" class="rounded float-end" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">Classes and Objects</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <div>
                <dl>
                    <dt class="col-sm-3">Class</dt>
                    <dd class="col-sm-9 p-2">
                        A class is a blueprint that allow developers to build on abstractions they want to model for
                        an object, to meet both business and functional requirements
                        for their application.
                    </dd>
                    <dt class="col-sm-3 text-truncate">Object</dt>
                    <dd class="col-sm-9 p-2">
                        An object can be thought of as an instance of a class. An object is characterized via two
                        things, which are
                        its properties (i.e. fields), and its behaviors (i.e. methods). All objects in Python (i.e. int,
                        float, List, Tuple, etc.),
                        all inherit from a base Object class. To create an user-defined Object in Python, one can do the
                        following:
                        <p class="fw-normal p-3">
                            <img src="static/images/ObjectCreation.png" class="img-fluid rounded"
                                 alt="...">
                        </p>
                        The above example creates a new Car object, this is the equivalent of <strong>new Car()</strong>
                        in
                        Java.
                    </dd>
                    <dt class="col-sm-3">Instantiation</dt>
                    <dd class="col-sm-9 p-2">
                        Instantiation in Python is used to initialize/create an object. This is typically done within
                        the
                        <em>__init__</em> method. We can define a <em>__init__</em> by doing the following:
                        <p class="fw-normal p-3">
                            <img src="static/images/ObjectCreation.png" class="img-fluid rounded"
                                 alt="...">
                        </p>
                        Since Car extends Vehicle, which is an abstract base class, <strong>super</strong> must be
                        called,
                        which is essentially a call to the parent class,
                        and passes an argument, which is essentially the name of the class itself.
                        </p>
                    </dd>
                    <dt class="col-sm-3">Constructor</dt>
                    <dd class="col-sm-9 p-2">
                        Constructors in Python is used to initialize values for a given an object.
                        This is typically done within an __init__ method as we discussed above, where we can supply
                        values
                        to the method itself. In Python, we have two types of constructors:
                        <ul class="px-5">
                            <li>Default Constructor</li>
                            <li>Parameterized Constructor</li>
                        </ul>
                        To summarized both of these constructor types, the default constructor only accepts an argument
                        of itself,
                        which is <em>self</em>, and no other arguments, while the parameterized constructor accepts an
                        argument of itself and any other number
                        of arguments provided by the developer. To learn more about these constructors, please refer to
                        following link shown <a href="https://www.geeksforgeeks.org/constructors-in-python/"
                                                class="link-primary">here</a>
                    </dd>
                    <dt class="col-sm-3">Instance Property/Method</dt>
                    <dd class="col-sm-9 p-2">
                        An instance method/property is acted upon an instance of a class. All fields within a class can
                        be accessed via
                        via <em>self</em>, which is the equivalent to <em>this</em> in Java. In addition, unlike static
                        properties,
                        each class has its own set of properties and methods without sharing state between other objects
                        of the same class.
                    </dd>
                    <dt class="col-sm-3">Instance Property/Method</dt>
                    <dd class="col-sm-9 p-2">
                        Unlike an instance method/property, a static method/property is acted upon a class as opposed to
                        an object itself.
                        In other words, all classes share the same static variables is acted upon an instance of a
                        class.
                        One typical example is updating a counter variable, whenever a new object is created,
                        this counter will be updated, however, if this counter was an instance variable, it is not
                        maintained across all objects
                        upon creation.
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col">
            <img src="static/images/PythonClassesObjects.png" width="400" height="400" class="rounded float-end"
                 alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">Testing</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <div>
                <dl>
                    <dt class="col-sm-3">Fixture</dt>
                    <img src="static/images/HttpClientFixture.png" class="rounded img-fluid"
                         class="rounded m-2"
                         alt="...">
                    <dd class="col-sm-9 p-2">
                        As discussed previously in the <strong>Python/Flask</strong> section, PyTest is a testing
                        framework in
                        Python that allows you to write unit tests.
                        Fixture is defined as "define the steps and data that constitute the arrange phase of a test"
                        (https://docs.pytest.org/en/7.1.x/explanation/fixtures.html). This is to the equivalent to the
                        arrange phase
                        within <strong>AAA Testing</strong>. In other words, a <em>fixture</em> serves a purpose within
                        your tests altogether.
                        One example of a fixture we've been using to test our content pages is via the http client as
                        shown in the picture above. Using this fixture allows us to make our API calls in order to test
                        our web pages
                        such as the content page. By defining this fixture, we can use this anywhere in our unit tests
                        by simply passing it as an argument for our unit tests.
                    </dd>
                    <dt class="col-sm-3 text-truncate">Type hint</dt>
                    <img src="static/images/Addition.png" class="rounded img-fluid"
                         class="rounded m-2"
                         alt="...">
                    <dd class="col-sm-9 p-2">
                        Type hinting is defined as "...a formal solution to statically indicate the type of a value
                        within your Python code"
                        (https://realpython.com/lessons/type-hinting/). This is done typically with a methods arguments
                        and it's return value.
                        With type hinting, we can specify the type we're expecting (i.e int, str, List), default values
                        for the parameters, and the return type.
                        For example, in the above picture, we see that the expected return type associated with
                        perform_operation
                        is expected to be a float.
                    </dd>
                    <dt class="col-sm-3">Type Casting</dt>
                    <dd class="col-sm-9 p-2">
                        Type casting is defined as "...specify a type on to a variable" (https://www.w3schools.com/python/python_casting.asp). This is typically done with
                        Python objects
                        such as:
                        <ul class="px-5">
                            <li>int()</li>
                            <li>str()</li>
                            <li>float()</li>
                        </ul>
                        For example to convert the number one into a float, we can simply do <em>float(1)</em>, which would yield
                        the result of 1.0.
                    </dd>
                    <dt class="col-sm-3">Unit Test</dt>
                    <dd class="col-sm-9 p-2">
                        A unit test is a python function that tests a particular
                        piece of code (i.e a method), which can be thought of as the subject under test. Typically, with
                        unit testing, developers mock out any external dependencies such as database operations or 3rd
                        party API calls.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">Principles of OOP</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <div>
                <dl>
                    <dt class="col-sm-3">Encapsulation</dt>
                    <dd class="col-sm-9 p-2">
                        Encapsulation means only methods in the class with the variables can refer to the instance
                        variable. In other words, only certain fields of a given classes are able to called from other
                        parts of
                        your program. The three scopes that Python has includes public (this is the default), protected,
                        and private.
                    </dd>
                    <dt class="col-sm-3 text-truncate">Inheritance</dt>
                    <dd class="col-sm-9 p-2">
                        Inheritance allows one class to inherit attributes and methods from one class to another.
                    </dd>
                    <dt class="col-sm-3">Polymorphism</dt>
                    <dd class="col-sm-9 p-2">
                        Polymorphism allows an object to take on many forms, this means for a given Python method,
                        we can base in the base class as an argument, and when we use the base class and call a method,
                        it will have a different behavior.
                        This is shown in the Calculator example, with the <strong>perform_operations</strong> method
                        between Addition, Subtraction, or Multiplication.
                    </dd>
                    <dt class="col-sm-3">Abstraction</dt>
                    <dd class="col-sm-9 p-2">
                        Classes are blueprints around the object(s) to be modeled. Abstraction is a way to provide
                        common interfaces of methods and APIs,
                        which are then implemented by their subclasses.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">Overview of Design Patterns</p>
            <hr class="bg-danger border-2 border-top border-danger">
            A <strong>design pattern</strong> is defined as a "general repeatable solution to a commonly occurring
            problem in software design" (https://sourcemaking.com/design_patterns).
            The benefits of design pattern include the following:
            <ul class="px-5">
                <li>Speed up of the development proces</li>
                <li>Reduce bugs/defects earlier in
                    the development process
                </li>
                <li>Better code quality (i.e improves readability)</li>
            </ul>
            There are several types of design patterns which can be divided into the following categories:
            <ul class="px-5">
                <li>Creational</li>
                <li>Structural</li>
                <li>Behavioral</li>
            </ul>
            <div>
                <dl>
                    <dt class="col-sm-3">Creational</dt>
                    <dd class="col-sm-9 p-2">
                        Creational design patterns are designed for creating classes, some design patterns that are
                        associated with creational design patterns
                        include Singleton and Factory. The <strong>Singleton</strong> design pattern ensures only one
                        instance of class can exist,
                        this is most typically used within multithreading for synchronization purposes. The <strong>Factory</strong>
                        design pattern ensures we can create
                        any instance of derived class, this is most commonly done with a parent-child relationships, we
                        will see how we use the factory design pattern in our Calculator class.
                    </dd>
                    <dt class="col-sm-3 text-truncate">Structural</dt>
                    <dd class="col-sm-9 p-2">
                        Structural design patterns are about composition, some design patterns that are
                        associated with creational design patterns
                        include Decorator and Proxy.
                    </dd>
                    <dt class="col-sm-3">Behavioral</dt>
                    <dd class="col-sm-9 p-2">
                        Behavioral design patterns are about class communication with one another, some design patterns
                        that are
                        associated with behavioral design patterns
                        include Observer and Chain of Responsibility. The <strong>Observer</strong> design pattern
                        notifies of changes to any number of classes,
                        which is a highly effective when dealing with event driven architecture. The <strong>Chain of
                        Responsibility</strong> deals with class delegation in terms of whether it wants to deal the
                        request or
                        not,
                        or pass it to off to another handler. To see an example of the Chain Responsibility, please
                        refer to this example shown
                        <a href="https://refactoring.guru/design-patterns/chain-of-responsibility"
                           class="link-primary">here</a>.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="h3">Overview of SOLID</p>
            <hr class="bg-danger border-2 border-top border-danger">
            <p class="fw-normal"><strong>SOLID</strong> is a programming methodology that was established by both Robert
                C. Martin and Michael Feathers.
                These SOLID principles allow developers principles to "...create more maintainable, understandable, and
                flexible software". The principles of SOLID include the following:
            <ul class="px-5">
                <li>Single Responsibility Principle</li>
                <li>Open/Closed Principle</li>
                <li>Liskov Substitution Principle</li>
                <li>Interface Segregation Principle</li>
                <li>Dependency Inversion Principle</li>
            </ul>
            </p>
            To learn more about SOLID and how we use it in our Calculator example, please refer to SOLID section
            on the navigation bar.
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>